body{
    background-color: #000;
}
h1{
    font-family: 'Antonio', sans-serif;
    color: #2129ff;
    text-decoration: underline;
}
#calculator{
    width: 350px;
    height: 600px; 
    background-color: #000;
    margin: 50px auto;
    display:flex;
    flex-direction: column;
    border-radius: 15px;
    border:#ccdeff solid 2px;
}
#input{
    color:#99dd66;
    font-size: 2.5rem;
    font-family: 'Antonio', sans-serif;
    font-weight: bold;
    letter-spacing:5px;
}

#display-box{
    flex: 2;
    display:flex;
    justify-content: center;
    align-items: center;
    width:95%;
    margin: 0 auto;
}
#display{
  background-color: #444a77;
  border-radius: 20px;
  flex:1;
  justify-self: center;
  height:150px; 
  gap: 10px;
  display: flex;
  justify-content: center;
}


#calculator-buttons{
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.row{
    display: flex;
    justify-content: space-evenly;
}

.math{
    background-color: #cc2233;
}
.number{
    background-color: #ff7744;
}

.function{
    background-color: #2129ff;
}

.modifier{
    background-color: #99dd66;
    color:#444a77
}

.special{
    background-color: #cc55ff;
    color:#000;
}

button{
    width:80%;
    height:70px;
    border-radius:15px;
    border:none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ccdeff;
    margin: 5px;
    cursor: pointer;
}
